html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --pomodoro: hsl(223, 25%, 40%);
  --shortBreak: hsl(48, 23%, 40%);
  --longBreak: hsl(105, 16%, 40%);
}

main {
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav li {
  flex: 1;
  display: flex;
}
.nav li a {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

[data-mode='pomodoro'],
.button.pomodoro {
  background-color: var(--pomodoro);
}

[data-mode='short-break'],
.button.short-break {
  background-color: var(--shortBreak);
}

[data-mode='long-break'],
.button.long-break {
  background-color: var(--longBreak);
}

.active {
  color: red;
}

.timer__progress {
  width: 100%;

  display: block;
}
